.env
node_modules

uploads/**/*.png
uploads/**/*.jpg
uploads/**/*.jpeg
uploads/**/*.gif
uploads/**/*.svg

!uploads/images/defaultPfp.jpg

profilePics/**/*.png
profilePics/**/*.jpg
profilePics/**/*.jpeg
profilePics/**/*.gif
profilePics/**/*.svg
