.Menu {
    display: grid;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}
.Padre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: #ffe4e4;
    padding: 10px;
}

.Hijo {
    display: grid;
    justify-content: center;
    background-color: #ffb2b2;
    padding: 20px;
    border-radius: 10px;
}

.bienvenida {
    display: grid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    grid-template-columns: 1fr;
    background-color: #ffd0d0;
    padding: 20px;
    border-radius: 10px;
}
