/* Navegación */
nav.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b8dfff;
  flex-wrap: wrap;
}

.logoImage {
  width: 80px;
  height: 80px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.buttons a {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f9f6ee;
  color: #4cb853;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.buttons a:hover {
  background-color: #d4d4d4;
}

@media (max-width: 768px) {
  nav.nav-container {
    flex-direction: column;
  }

  .buttons {
    justify-content: center;
  }
}
