.profile-container {
    display: flex;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #dddddd;
  }
  
  .profile-sidebar {
    width: 700px;
    background-color: #2d2d2d;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .profile-photo {
    background-color: black;
    height: 300px;
    background-size: cover;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
  }
  
  .position-button {
    background-color: #4cb845;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .about-me {
    margin-top: 20px;
  }
  
  .about-me h3 {
    display: flex;
    align-items: center;
  }
  
  .about-me h3 .icon {
    margin-right: 5px;
  }
  
  .audio-control {
    width: 100%;
    margin: 10px 0;
  }
  
  .profile-main {
    flex-grow: 1;
    padding: 20px;
  }
  
  .profile-main section {
    margin-bottom: 20px;
  }
  
  .profile-main h3 {
    display: flex;
    align-items: center;
  }
  
  .profile-main h3 .icon {
    margin-right: 5px;
  }
  
  .experience-item,
  .education-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .languages-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #444444;
  }
  
  .social-media {
    display: flex;
    justify-content: space-between;
    color: #f9f9f9;
    text-decoration: none;
    background-color: #1da9f8;
    padding: 10px;
    margin-bottom: 10px;
  }