/* Contenedor de soporte */
.support-container {
  width: 600px;
  margin: 10px auto;
  padding: 20px;
  height: fit-content;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.support-header {
  text-align: center;
  margin-bottom: 1px;
}

.form-group {
  margin-bottom: 1px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4cb853;
  color: #fff;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #388c3f;
}
