.pfpContainer {
  width: fit-content;
  height: 50%;
}
.bannerContainer {
  width: 100%;
}
.banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pfpLabel {
  cursor: pointer;
  width: fit-content;
}
.pfpInput {
  width: 0;
  height: 0;
}
.pfp {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.phoneSelect {
  width: 25%;
}
.codeInput {
  width: 35% !important;
  padding: 12px;
}

.phoneInput {
  padding: 12px;
}
