.pfpContainer {
  width: fit-content;
  height: fit-content;
}
.pfpLabel {
  cursor: pointer;
  width: fit-content;
}
.pfpInput {
  width: 0;
  height: 0;
}
.pfp {
  object-fit: cover;
}
.phoneSelect {
  width: 25%;
}
