.postForm {
  max-width: none;
  height: 50px;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.formInput {
  text-align: start;
  height: 100%;
  min-height: 50px;
  max-height: 100px;
}
.formInputFocused {
  text-align: start;
  height: 100px;
  min-height: 50px;
  max-height: 100px;
}

.formInputFocused:focus {
  outline: none;
}

.asideContainer {
  height: fit-content;
  width: fit-content;
  position: fixed;
  top: 20%;
  right: 5%;
}

.smallText {
  font-size: 0.8rem;
}
