.jobCard {
  margin-bottom: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.jobCard:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
p {
  margin: 0;
}

.icon {
  color: #c9c9c9;
}
.icon:hover {
  color: #a1a1a1;
}
.bookmark {
  width: min-content;
  height: min-content;
}
.selectedCard {
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.005);
  z-index: 10;
  position: relative;
}
