.jobCard {
  margin-top: 5px;
  width: 99.3%;
}
.jobCard:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
p {
  margin: 0;
}

.icon {
  color: #c9c9c9;
}
.icon:hover {
  color: #a1a1a1;
}
.bookmark {
  width: min-content;
  height: min-content;
}
.selectedCard {
  margin-top: 5px;
  width: 100%;
  background-color: #f5f5f5;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  position: relative;
}
.smallText {
  font-size: 13px;
}
.roundedImage {
  object-fit: cover;
}
