.jobDetails {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  z-index: 999;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.asideJobDetails {
  position: sticky;
  top: 20px;
  height: 95vh;
  background-color: black;
}
.noCaret::after {
  display: none !important;
}

.bookmark {
  width: 24.02px;
  height: 24px;
}
.bookmark:hover {
  color: #a1a1a1;
}

.roundedImage {
  object-fit: cover;
}

.smallText {
  font-size: 0.9rem;
}

.verPerfil:hover {
  color: white;
}
