.post {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.smallText {
  height: min-content;
  font-size: 13px;
}
.profileInfo {
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.actionButtons:hover {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #0dcaf0;
}
.filledIcon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.numberContainer {
  text-align: left;
  width: 30px;
}

.formInputFocused:focus {
  outline: none;
}
.email {
  font-size: 14px;
}

.timeSpan {
  height: 50px;
  display: flex;
  align-items: flex-start;
}
.followButton {
  width: 60%;
}

.attachment {
  object-fit: cover;
}
.fourImagesContainer {
  height: 400px;
}

.contentContainer {
}
