.mainContainer {
  width: 65%;
  height: 95%;
}

.asideContainer {
  height: fit-content;
  width: fit-content;
  position: fixed;
  top: 20%;
  right: 0;
}
.header {
  height: fit-content;
}

.profileContainer {
  width: 65%;
}

.btnAdd {
  height: 26px;
}
.noArrow::after {
  display: none !important;
}
.smallText {
  font-size: 12px;
}
