.asideContainer {
  height: fit-content;
  width: fit-content;
  position: fixed;
  top: 20%;
  right: 0;
}
.header {
  height: auto;
}

.profileContainer {
  width: 65%;
}

.btnAdd {
  height: 26px;
}
.noArrow::after {
  display: none !important;
}
.smallText {
  font-size: 12px;
}

.followBtn {
  width: 140px;
}

.buttons {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.unfollowBtn:hover {
  background-color: rgb(226, 43, 43);
  transition: background-color 0.2s ease-in;
  border-color: rgb(200, 0, 0);
}
@media (max-width: 1300px) {
  .buttons {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}

@media (max-width: 1024px) {
  .mainContainer {
    width: 100%;
  }
  .profileContainer {
    width: 90%;
  }
}
