.register-container {
  max-width: 400px;
  margin: 20vh auto;
  height: fit-content;
  padding: 20px;
  animation: slideIn 0.5s ease-in-out;
  text-align: center;
}

.roleImage {
  width: 50px;
  height: auto;
}
button {
  width: fit-content;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.roleSelectionContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.roleCard {
  padding: 20px;
  width: 110px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.roleCard--student:hover {
  background-color: #8ac9b2;
  animation: rippleOut 0.5s;
}

.roleCard--recruiter:hover {
  background-color: #1da9f8;
  animation: rippleOut 0.5s;
}

@keyframes rippleOut {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  }
}

.formStep {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial", sans-serif;
}

.formStep h2 {
  color: #333;
  margin-bottom: 20px;
}

.formStep input[type="text"],
.formStep input[type="password"],
.formStep input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formStep button {
  width: 100px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.formStep button:hover {
  background-color: #0056b3;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
