.container {
  background-color: #f3f3f3;
  width: 50%;
  margin: 5% auto;
  padding: 5%;
  box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.1);
  border: solid 1px #cccccc;
  border-radius: 2px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
}

.logo {
  width: 100px;
  height: 100px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.grey {
  color: #858585;
}

.recruiter-heading {
  display: flex;
  align-items: center;
  justify-content: start;
}

.icon {
  height: 75px;
}

.recruiter {
  display: flex;
  flex-direction: column;
}
